bin/
obj/
Bin/
Obj/
TestResults/
*.csproj.user
*.cache
*.suo
*/.vs/
/.vs
*.DotSettings
*ReSharper*
*.DotSettings.user
*.Publish.xml
#*.LOCAL.*
*.REMOTE.*
*.org
*.orig
*.cs.orig
*/.idea/
/.idea

build/log.txt

.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/UFS.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/develop.iml

/.sass-cache
.idea/codeStyleSettings.xml

*/PublishSite/*
*.scssc.*

# NuGet Packages Directory
packages

#Frontend
node_modules*/
build*/
babel_cache*/
npm-debug.log

bower_components
*.css.map